<!DOCTYPE html>
<html>
  <head>
    <title>FoodBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <% if current_user %>
        <a href="/users/<%=current_user.id%>"><%=current_user.first_name%></a>
        <%= form_tag("/sessions", method: "delete") do %>
        <%= submit_tag('Logout') %>
        <% end %>
      <% else %>  
        <a href="/sessions/new">Login</a>
        <a href="/users/new">New User Registration</a>
      <% end %>  
    </nav>
    <%= yield %>
  </body>
</html>
